body {
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header img {
    height: 160px;
}

.profile-photo {
    height: 200px;
    margin-left: 50px;
}
