body {
    font-size: 18px;
    /* background-color: #9AD4F5; */
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header img {
    height: 200px;
}

.profile-photo {
    height: 250px;
    margin-left: 100px;
}
